{% extends 'ParkingBundle::layout.html.twig' %}

{% block body_container_center %}
    <h1 class="text-center">Plazas de aparcamientos liberadas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Liberada por el usuario</th>
                <th>Plaza de aparcamiento</th>
                <th>Desde</th>
                <th>Hasta</th>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <th>Accciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('parkimetro_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('ant_user_user_show', { 'username' : 'anonimous' , 'user_id': entity.creator } ) }}">{{ entity.creator }}</a></td>
                <td>{{ entity.parking.number }}</td>
                <td>{% if entity.startDate %}{{ entity.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.endDate %}{{ entity.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == entity.creator %}
                    <ul>
                        <li>
                            <a href="{{ path('parkimetro_show', { 'id': entity.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('parkimetro_edit', { 'id': entity.id }) }}">Editar</a>
                        </li>
                    </ul>
                {% else %}
                    -
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr><td style="color:red;">No hay ninguna plaza de parking disponible para aparcar, lo sentimos mucho.<td></tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="clearfix">
        <a href="{{ path('parkimetro_new') }}" class="btn btn-primary pull-right" role="button">
            {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                Libera una plaza de aparcamiento
            {% else %}
                Identificate para liberar una plaza de aparcamiento
            {% endif %}
        </a>
    </div>
    <hr/>
    
    <p>Agradecemos para que el sistema funcione, respetar las horas de inicio y final para ocupar una plaza liberada.</p>
    
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            {% image '@ParkingBundle/Resources/public/images/croquis_plazas_nave.png' %}
                <img src="{{ asset_url }}" alt="Croquis plazas nave" />
            {% endimage %}
        </div>
        <div class="col-lg-6 col-xs-12">
            {% image '@ParkingBundle/Resources/public/images/croquis_plazas_interior.png' %}
                <img src="{{ asset_url }}" alt="Croquis plazas interior" />
            {% endimage %}
        </div>
    </div>
{% endblock body_container_center %}
