{% extends 'ParkingBundle::layout.html.twig' %}

{% block head_css %}
    {{ parent() }}
    {% stylesheets "@ParkingBundle/Resources/public/css/bootstrap-datetimepicker.min.css" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    
{% endblock %}

{% block body_js_end %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-js="start"]').datetimepicker({
                useCurrent: true, //Important! See issue #1075
                locale: 'es',
                sideBySide: true,
                minDate: new Date()
            });
            $('[data-js="end"]').datetimepicker({
                locale: 'es',
                useCurrent: false,
                sideBySide: true,
                minDate: new Date(new Date().getTime() + (1*60*60*1000))
            });
            $('[data-js="start"]').on("dp.change", function (e) {
                $('[data-js="end"]').data("DateTimePicker").minDate(e.date);
            });
            $('[data-js="end"]').on("dp.change", function (e) {
                $('[data-js="start"]').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
{% endblock body_js_end %}

{% block body_container_center %}
<div class="container" style="margin-bottom:5%">
    <h1 class="text-center">Libera una plaza de aparcamiento</h1>

    <form action="{{ path('parkimetro_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.startDate, null, { 'label_attr': {'class': 'col-sm-3 col-sm-offset-2 control-label'} }) }}
            {{ form_errors(form.startDate) }}
            <div class='col-sm-5 input-group date datetimepicker' data-js="start">
                {{ form_widget(form.startDate, {'attr': {'class': 'form-control input-inline datetimepicker', 'data-js': 'start'}}) }}
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.endDate, null, { 'label_attr': {'class': 'col-sm-3 col-sm-offset-2 control-label'} }) }}
            {{ form_errors(form.endDate) }}
            <div class='col-sm-5 input-group date' data-js="end">
                {{ form_widget(form.endDate, {'attr': {'class': 'form-control input-inline datetimepicker', 'data-js': 'end'}}) }}
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-sm-offset-2 control-label">{{ form_label(form.parking) }}</label>
            {{ form_errors(form.parking) }}
            <div class="col-sm-5">
                {{ form_widget(form.parking, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-sm-offset-2 control-label">{{ form_label(form.note) }}</label>
            {{ form_errors(form.note) }}
            <div class="col-sm-5">
                {{ form_widget(form.note, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group"> 
            <div class="col-sm-offset-5 col-sm-3">
{#                <input type="submit" class="btn btn-primary submit" />#}
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}, 'label': 'Guardar'}) }}
{#                <button type="submit" class="btn btn-default">Submit</button>#}
            </div>
        </div>

{#    {{ form_row(form.submit, { 'label': 'Submit me' }) }}#}
    {{ form_end(form) }}
    </form>
    

    <ul class="record_actions">
        <li>
            <a href="{{ path('parkimetro') }}">
                Volver a la lista de plazas libres
            </a>
        </li>
    </ul>
</div>
{% endblock body_container_center %}
