{% extends 'ParkingBundle::layout_show_entity.html.twig' %}

{% block title_show_entity %}Plaza de aparcamiento liberada{% endblock %}

{% block content_show_entity %}
    <div class="row col-xs-8  col-xs-offset-2">
        <table class="table">
            <tbody>
                <tr>
                    <th>Plaza de aparcamiento</th>
                    <td>{{ entity.parking.number }}</td>
                </tr>
                <tr>
                    <th>Usuario</th>
                    <td>{{ entity.creator }}</td>
                </tr>
                <tr>
                    <th>Libre desde</th>
                    <td>{{ entity.startDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Hasta</th>
                    <td>{{ entity.endDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Comentarios</th>
                    <td>{{ entity.note }}</td>
                </tr>
            </tbody>
        </table>

        <nav>
            <ul class="pager">
                <li>
                    <a href="{{ path('parkimetro') }}">
                        Volver al listado
                    </a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == entity.creator %}
                <li>
                    <a href="{{ path('parkimetro_edit', { 'id': entity.id }) }}">
                        Editar
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == entity.creator %}
            {{ form(delete_form) }}
        {% endif %}   
    </div>
{% endblock %}
