{% extends 'ParkingBundle::layout.html.twig' %}

{% block body_container_center %}
    <h1>Plaza de aparcamiento liberada</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Creator</th>
                <td>{{ entity.creator }}</td>
            </tr>
            <tr>
                <th>Libre desde</th>
                <td>{{ entity.startDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Hasta</th>
                <td>{{ entity.endDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('parkimetro') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('parkimetro_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock body_container_center %}
