{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% trans_default_domain 'UserRegistration' %}

{% block chatea_title %}{{ 'user.edit_profile' | trans }}{% endblock %}
{% block chatea_meta_description %}{% endblock %}
{% block chatea_meta_keywords %}{% endblock %}

{% block chatea_body %}
	<div class="row">
		<div class="col-xs-12">
			<h1>{{ 'user.change_profile' | trans }}</h1>
			<div class="col-xs-12 text-center">
				<div class="col-xs-12">
		  			<a class="btn btn-lg btn-primary" href="{{ path('chatea_client_update_profile') }}">{{ 'user.edit_profile' | trans }}</a>
	  			</div>
                <br>
                <div class="col-xs-12">
                    <a class="btn btn-lg btn-primary" data-behat="update-profile-photo" href="{{ path('chatea_client_update_profile_photo') }}">{{ 'user.edit_profile_photo' | trans }}</a>
                </div>
                <br>
				<div class="col-xs-12">
					<a class="btn btn-lg btn-primary" data-behat="update-city" href="{{ path('chatea_client_update_profile_city') }}">
						<i class="fa fa-map-marker"></i> {{ 'user.edit_city' | trans({}, 'UserChange') }}
					</a>
				</div>
				<br/>
                <div class="col-xs-12">
                    <a class="btn btn-lg btn-primary" href="{{ path('ant_user_user_show_all_visits', {'username': app.user.username, 'user_id': app.user.id}) }}">{{ "user.last_visits" | trans }}</a>
                </div>

			</div>
		</div>
	</div>
{% endblock %}
