{% extends "::layout.html.twig" %}

{% trans_default_domain 'Login' %}

{% block body_pre_container %}
{% endblock body_pre_container %}

{% block body_container_content %}
	<div class="row">
	
	{% if plain is not defined %}
	    <div class="col-xs-12 text-center">
	    	<h1 style="font-size:2em">
	    	{% if client == 34 %}
	    		{{ "login.explication_credentials_chateagratis" | trans }}
	    	{% else %}
	    		{{ "login.explication_credentials_chatzona" | trans }}
	    	{% endif %}
	    	</h1>
	    </div>
	{% endif %}
	
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div id="loginchateacont" class="col-xs-12 wellchatea clearfix">
                {% if error is defined and error %}
                    <div class="error alert alert-danger">{{ error }}</div>
                {% endif %}


                <form action="{{ path("_security_check") }}" method="post" id="login">
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <input class="form-control input-sm" type="text" id="username" name="_username" placeholder="{{ "login.username" | trans }}" value="{% if last_username is defined %}{{ last_username }}{% endif %}" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-8">
                            <input class="form-control input-sm" type="password" id="password" placeholder="{{ "login.password" | trans }}"  name="_password" required />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <button class="btn btn-success input-sm" type="submit" id="button-submit-login">{{ "login.submit" | trans }}</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <a href="{{ path('chatea_client_reset_password') }}" id="button-forgotPassword-login">{{ "login.forgot_password" | trans }}</a>
                        </div>
                    </div>
                    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect') }}" />
                </form>
            </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <br>
        <div class="col-xs-12 wellchatea clearfix">
            <legend>{{ "login.register_title" | trans }}</legend>
            <br>
            <a href="{{ path('chatea_client_register_user') }}" class="btn btn-primary btn-large" style="text-align:center;">{{ "login.register_btn" | trans }}</a>
            <br><br>
            <p>{{ "login.register_message" | trans }}</p>
        </div>
    </div>
    </div>
{% endblock body_container_content %}