{# Hacemos estos chequeos para poner listas de 4 elementos #}
<div class="col-lg-3 col-md-6 text-center">
    <div class="service-box">
        {% if entity.image %} 
            <img src="{{app_path_offer_images}}/{{ entity.image }}" width="150px">
        {% else %}
            <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
        {% endif %}
        <a href="{{ path('offer_show', {id: entity.id}) }}"><h3>{{ entity.name }}</h3></a>
        <p class="text-muted">{{ entity.shortDescription }}</p>
    </div>
</div>