{% extends 'PrettyBundle:Default:layout_full.html.twig' %}

{% block head_css %}
    {{ parent() }}
    <style>
        .panel-default h4{
            font-weight: unset !important;
        }
    </style>
{% endblock %}

{% block body_container_content_full %}
    <div class="container" style="margin-bottom:5%">
        {% block body_container_center %}
            <div class="container">
                <br/>
                <br/>
                <br/>
                {% for entity in entities %}
                    {# Hacemos estos chequeos para poner listas de 4 elementos #}
                    {% if loop.index % 5 == 0 %}
                        <div class="row">
                    {% endif %}
                    {% if loop.first %}
                        <div class="row">
                    {% endif %}
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="service-box">
                                {% if entity.image %} 
                                    <img src="{{app_path_offer_images}}/{{ entity.image }}" width="150px">
                                {% else %}
                                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
                                {% endif %}
                                <a href="{{ path('offer_show', {id: entity.id}) }}"><h3>{{ entity.name }}</h3></a>
                                <p class="text-muted">{{ entity.description }}</p>
                            </div>
                        </div>
                    {% if not loop.first and loop.index % 4 == 0 %}
                        </div>
                        <br/>
                        <br/>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock body_container_center %}
    </div>
    <style>
    /* Footer */
    .footer-contacta {
        background: #91A1AD;
        color:#000;
        padding:40px 0;
    }
    .footer-contacta .texto-wrapper {
        display: inline-block;
        font-size:24px;
    }
    .footer-contacta .button-wrapper {
        display: inline-block;
        margin:0 0 0 20px;
    }
    .btn_02 {
        background: #fff;
        color:#000;
        text-transform: uppercase;
        text-align: center;
        border:2px solid #fff;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        font-size:18px;
        font-weight:600;
        -webkit-box-shadow: 1px 4px 10px #666;
        box-shadow: 1px 4px 10px #666;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }
    .btn_02:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .btn_medium {
        padding: 12px 30px;
    }
    </style>
    <div class="footer-contacta">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="texto-wrapper"><strong>¿Quieres publicar una oferta? </strong> Nos encantará recibirla</div>
                    <div class="button-wrapper">
                        <span href="" class="btn_02 btn_medium"><a href="mailto:{{ email }}"><i class="fa fa-envelope"></i> {{ email }}</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_container_content_full %}
