{% extends 'PrettyBundle:Default:layout_full.html.twig' %}

{% block head_css %}
    {{ parent() }}
    {% stylesheets '@OfferBundle/Resources/public/css/custom.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
        .panel-default h4{
            font-weight: unset !important;
        }
    </style>
{% endblock %}

{% block body_container_content_full %}
    <div class="container" style="margin-bottom:5%">
        {% block body_container_center %}
            <div class="container">
                <br/>
                <br/>
                <br/>
                {% set count = 0 %}
                {% for entity in entities %}
                    {% set count = count + 1 %}
                    {% if count == 0 or count % 4 == 1 %}
                        <div class="row">
                    {% endif %}
                    {% if entity.isPrivate and app.user and is_granted('ROLE_MANS') %}
                        {{ include('OfferBundle:Offer:_offer_simple.html.twig') }}
                    {% elseif not entity.isPrivate %}
                        {{ include('OfferBundle:Offer:_offer_simple.html.twig') }}
                    {% endif %}
                    {% if count % 4 == 0 or loop.last %}
                        </div>
                        <br/>
                        <br/>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock body_container_center %}
    </div>
    
    <div class="footer-contacta">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="texto-wrapper"><strong>¿Quieres publicar una oferta? </strong> Nos encantará recibirla</div>
                    <div class="button-wrapper">
                        <a href="mailto:{{ email }}" class="btn_02 btn_medium" role="button"><i class="fa fa-envelope"></i> {{ email }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_container_content_full %}
