{% extends 'PrettyBundle:Default:layout_full.html.twig' %}

{% block title %}{% endblock title %}

{% block body_container_content_full %}
    <div class="container" style="margin-bottom:5%">
            <div class="container">
                <!-- MAIN SECTION -->
                <h1>Mis ofertas</h1>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Habilitada</th>
                        <th>Fecha de creación</th>
                        <th>Está expirada</th>
                        {#<th>Nº usuarios</th>#}
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('offer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.description }}</td>
                            <td>{{ entity.enabled }}</td>
                            <td>{% if entity.publicatedAt %}{{ entity.publicatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ entity.isExpired }}</td>
                            {#<td>{{ entity.numUsers }}</td>#}
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('offer_show', { 'id': entity.id }) }}">Ver</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('offer_edit', { 'id': entity.id }) }}">Editar</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% else %}
                        No has creado ninguna oferta todavia
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('offer_new') }}">
                    <button type="button" class="btn btn-primary">Crear una oferta</button>
                </a>
                <!-- END MAIN SECTION -->
            </div>
        </section>
    </div>
{% endblock %}