{% trans_default_domain 'UserRegistration' %}

<ul>
	<li>{{ 'become_community' | trans({}, 'messages')}}
            {{ "register.explication_credentials_mans" | trans }}
	</li>
	<li><b>{{ "attention_capital" | trans({}, 'messages') }}</b> {{ 'user.register.email_notify' | trans }}</li>
	<li>Ya tienes tu nick registrado? </li>
	<ul>
		<li><a href="{{ path('_antwebes_chateaclient_login') }}?type=info_register">{{ 'form.email_already_used_notify_go_to_login' | trans }}</a></li>
		<li><a href="{{ path('chatea_client_reset_password') }}?type=info_register">{{ 'user.forgot_password' | trans ({}, 'messages') }}</a></li>
	</ul>
</ul>