{% extends "AppBundle:layout:layout.html.twig" %}

{% block head_css %}
	{{ parent() }}
    {% stylesheets 
            "@ApiSocialBundle/Resources/public/css/custom.css" 
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock head_css %}

{% block body_pre_container %}

	{% if web_param.index_chat is defined and web_param.index_chat is not null and web_param.index_chat %}
		{# include js in block body_js_end #}
		<div id="cgs-webchat" style="margin-top: -20px;" ></div>
	{% else %}
		<div class="container">
	    <h1>{{ web_param.welcome_message }}</h1>
	    <p>{{ web_param.welcome_message_extended }}</p>
	    
		{# Init Render list users #}
		    <div class="row-fluid">
	        <ul class="ace-thumbnails" data-behat="items-user">
				{% include "ApiSocialBundle:User:List/_render_list_users.html.twig" with {'users' : users} %}
	        </ul>
	    </div>
		{# Finish Render list users #}
		
	    {% if app.user and has_chat %}
	        <p class="text-center">
	        	{% if chat_url %}
	        		<a class="btn btn-primary btn-lg" href="{{ chat_url }}" role="button">
	        	{% else %}
	        		<a class="btn btn-primary btn-lg" href="{{ path('ant_chat_chat_show')}}" role="button">
	        	{% endif %}
	        	Entrar al chat como {{ app.user.username }}
	        	</a>
			</p>
	    {% endif %}
	  </div>
	  <hr>
	{% endif %}
	{% if web_param.index_chat %}
				{% if web_param.extra_html is defined %}
					{{ web_param.extra_html | raw}}
				{% endif %}
	{% endif %}
{% endblock body_pre_container %}


{% block body_js_end %}
	{{ parent() }}
	{% if web_param.index_chat is defined%}
          {% include "ApiSocialBundle:Chat:script.html.twig" with {enter_channel: web_param.channel_affiliate, chat_nick: web_param.nick_affiliate ~ '????'} %}
	{% endif %}
	
	{# Init Js to lazyload to user in index #}
	{% javascripts
        '@ApiSocialBundle/Resources/public/js/jquery/jquery.lazyload.min.js'
    %}
    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    {% include "ApiSocialBundle:Common:lazyload.html.twig" %}
    {# Finish Js to lazyload to user in index #}
    
{% endblock %}